*.o
*.sublime-project
*.sublime-workspace
*.obj
TypeListC++11/Debug/typelist.pdb
*.pdb
TypeListC++11/Debug/vc120.idb
*.exe
TypeListC++11/Debug/typelist.ilk
*.tlog
TypeListC++11/VS2013/Debug/VS2013.log
*.sdf
*.suo
*.opensdf
TypeListC++11/VS2013/VS2013.vcxproj.filters
*.user
